body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 20px;
    color: #333333;
}
.btn {
    background-color: cyan;
    color: #FF7043;
    padding: 10px;
    text-align: center;
    
    display: inline-block;
    font-size: 16px;
    border: 1px solid purple;
    border-radius: 10px;
}

.container {
    border: 5px solid aquamarine;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: greenyellow;
}

p {
    font-size: 18px;
    display: block;
}
#menu {
    background-image: url('images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
#home {
    background-image: url('images/plufow-le-studio-5Q6yZN8ckuY-unsplash.jpg');
    background-size: cover;
    
}
img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    
    
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}